@use '../../styles/variables'as *;
@use '../../styles/mixins'as *;

.opensource-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    margin-bottom: 50px;
    word-break: keep-all;

    .body {
        width: 100%;
        padding: 0 10px;

    .opensource {
      display: flex;
      justify-items: center;

      width: 100%;
      margin-left: 5px;
      padding: 10px 0;
      border-left: 2px solid #bdbdbd;

      font-size: 18px;
      font-weight: 400;

      &:first-child {
        padding-top: 7px;
      }

      &:last-child {
        padding-bottom: 7px;
      }

      &::before {
        position: relative;
        left: -1px;
        content: '';
        align-self: center;
        width: 10px;
        height: 10px;
        background-color: var(--background-color);
        border-radius: 10px;
        transform: translatex(-50%);
        border: 2px solid #828282;
      }

      .intro {
        display: flex;
        flex-direction: row;
        margin-left: 5px;
        margin-right: 5px;
        padding-right: 10px;

        align-items: baseline;

        @include md {
          width: 200px;
          min-width: 200px;
        }

        .name {
            font-size: 20px;
            font-weight: 600;
            align-self: center;
            padding-right: 5px;
        }
        .number {
            font-size: 18px;
            font-weight: 400;
            align-self: center;
            padding-right: 5px;
            color: #828282;
        }
        .detail {
            line-height: 23px;
            align-self: center;
            // width: 10%;
          }

      }

      .description {
        font-size: 15px;
        line-height: 23px;
        width: 400px;
        min-width: 120px;

        @include md {
          width: 400px;
          min-width: 120px;
        }

      }
    }
  }
}
