@use '../../styles/variables'as *;
@use '../../styles/mixins'as *;

.project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .project {
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;

    .head {
      margin-bottom: 10px;
      line-height: 30px;
      font-size: 20px;
      font-weight: 700;
    }

    .body {
      display: flex;
      flex-direction: column;
      width: 100%;

      .body-detail {
        display: flex;
        // flex-direction: row;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
      }

      .thumbnail {
        // width: 30%;
        width: 100%;
        max-width: fit-content;
        margin-right: 30px;
      }

      .tech-stack {
        display: flex;
        margin-bottom: 20px;
        flex-wrap: wrap;
        row-gap: 15px;

        .tech {
          border-radius: 8px;
          font-size: 12px;
          font-weight: 800;
          word-spacing: -3px;
          min-width: fit-content;

          margin-right: 10px;
          padding: 5px 7px 5px 7px;
          font-family: monospace;

          background-color: #f3f3f4;
          border: 1px solid #f0f0f0;
          color: #444;
          background: var(--language-text-background);

          // background-color: var(--chip-background-color);
          // border: 1px solid var(--language-text-border-color);
          // color: var(--content-text-color);
        }
      }

      .description {
        font-size: 16px;
        font-weight: 400;
        line-height: 2;
      }


      @include md {
        flex-direction: column;

        .content {
          margin-top: 0px;
        }
      }
    }
  }
}