@use '../../styles/mixins'as *;

.page-footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 62px;
  margin-top: auto;

  .page-footer {
    @include content-max-width;
    text-align: center;
    font-size: 10px;

    .link {
      font-weight: 700;
      color: var(--primary-text-color);
      margin-right: 20px;
    }

    a {
      color: #3A95FF;
    }
  }
}